/* .nav--close{
    visibility:hidden:
    opacity:0;
}

@media only screen and (max-with:1024px){
    .nav--close{
        
    }
} */

.nav-btn {
  cursor: pointer;
  display: none !important;
  /* z-index: 30;
  visibility: none; */
}

@media only screen and (max-width: 990px) {
  .nav-btn {
    display: block !important;
  }
}

.nav--close--btn,
.link {
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: #fff;
  width: 100vw;
  height: 100vh;
}
