.Home_container {
  display: flex;
  width: 100%;
  position: relative;
}

.icon--container {
  position: sticky;
  height: 50px;
  bottom: 50px;
  width: 55%;
  margin-left: 22%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon--container--account {
  width: 40px !important;
  height: 40px !important;
  backdrop-filter: blur(10px);
  background-color: var(--main);
  color: white;
  cursor: pointer;
  display: block;
  font-size: 40px;
  border-radius: 50%;
  margin: auto;
  padding: 5px;
  position: relative;
  border: 2px solid var(--main);
  justify-content: center;
  align-items: center;
  display: flex;
  justify-self: center;
}

.icon--container--account::before {
  content: "";
  border: 2px solid var(--main);
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 12px var(--main);
  transition: 0.3s;
  animation: button 3s infinite;
}

@keyframes button {
  0% {
    box-shadow: 0 0 12px var(--main);
  }
  50% {
    box-shadow: 0 0 24px var(--main);
  }

  100% {
    box-shadow: 0 0 36px var(--main);
  }
}

.icon--container--account:hover::before {
  border: 2px solid #cacefe;
  animation: buttonHover 3s infinite;
  font-weight: bolder;
  transition: 0.3s;
}

@keyframes buttonHover {
  0% {
    box-shadow: 0 0 12px #cacefe;
  }
  50% {
    box-shadow: 0 0 24px #cacefe;
  }
}

.Home_top_center {
  flex: 5.5;
  padding: 0 20px;
  /* testing */
  /* overflow-x: auto;
  overflow-y: auto; */
}

.Home_top_left {
  flex: 3;
  position: sticky;
  top: 0px;
  min-height: 100vh;
  box-shadow: -3px 2px 5px 1px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: -3px 2px 5px 1px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: -3px 2px 5px 1px rgba(0, 0, 0, 0.68);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.Home_top_right {
  flex: 3;
  height: calc(100vh - 50px);
  position: sticky;
  top: 0px;
  min-height: 100vh;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding-top: 10px;
  box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.68);
  overflow-y: scroll;
  /* navbar is 50px */
}

.speedial {
  position: sticky;
  bottom: 0px;
  right: 0;
}

@media (max-width: 885px) {
  .Home_top_right {
    display: none;
    flex: 0;
  }
  .Home_top_left {
    display: none;
    flex: 0;
  }
  .Home_top_center {
    flex: 1;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .icon--container,
  .icon--container--account,
  .icon--container--account::before {
    display: none !important;
    position: static;
  }

  .Home_container {
    position: static;
  }
}

@media only screen and (min-width: 1114px) {
  .speedial {
    display: none;
  }
}
