.Home_container {
  display: flex;
  width: 100%;
  margin-top: 1.2rem;
}
.Home_top_center {
  flex: 5.5;
  padding: 20px;
  /* testing */
  overflow-x: auto;
  overflow-y: auto;
}

.Home_top_left {
  flex: 3.5;
}

.Home_top_right {
  flex: 3;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  overflow-y: scroll;
  /* navbar is 50px */
}

@media (max-width: 768px) {
  .Home_top_right {
    display: none;
    flex: 0;
  }
  .Home_top_left {
    display: none;
    flex: 0;
  }
  .Home_top_center {
    flex: 1;
    width: 100%;
  }
}
