/* .rightside--container {
  border: 2px solid red !important;
} */

.rightside--bd--box {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.gift--img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.rightside--ad--box img {
  border-radius: 10px;
  width: 100%;
}

.rightside--ad--box {
  margin: 30px 0;
}
