@import url('https://fonts.googleapis.com/css2?family=Asul&family=Inter:width@400;500&family=Monsieur+La+Doulaise&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  line-height: 1.7;
  scroll-behavior: smooth;
}

:root {
  --black: #242d49;
  --white: #f7fbfe;
  --main: #2a1d6a;
  --backdrop-filter: blur(15px);
  --backdrop-filter-color: #eaf0fb;
  --backdrop-background: hsla(0, 0%, 100%, 0.2);
}

::-webkit-scrollbar {
  display: none;
}

/* ANIMATION */
.tb-slid-up {
  opacity: 0;
  -webkit-transform: translate(0, 70px);
  transform: translate(0, 70px);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.tb-slid-up.slide-up {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.App {
  color: var(--black);
  overflow:clip;
  contain: paint;
  padding: 1rem 0;
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  border-radius: 0.5rem;
  background: var(--main);
  transition: all 100ms ease-out;
  cursor: pointer;
}

.button:hover {
  background: transparent;
  color: var(--main);
  border: 2px solid var(--main);
  font-weight: bold;
}

/* errors */

@media (max-width: 768px) {
  .App {
    padding: 0;
  }
}
